body {
  font-family: Helvetica, Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
  font-size: 16px;
  background: #fff;
}

fieldset {
  width: 37em;
  padding: 0;
  margin: 0 auto;
  border: none;
}

dl.boxed {
  box-sizing: border-box;
  display: inline-block;
}

dl.one-half {
  width: 50%;
}

dl.left {
  padding-right: 0.4em;
}

dl.right {
  padding-left: 0.4em;
}

dl.both {
  padding: 0 0.4em;
}

dl.one-tenth {
  width: 10%;
}

dl.four-tenth {
  width: 40%;
}

dt {
  margin-bottom: 0.4em;
}

dd {
  margin: 0 0 1.5em;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  box-sizing: border-box;
  width: 100%;
  height: 2.4em;
  padding: 0.2em 0.6em;
  font-size: 0.8em;
  border: 1px solid #cecece;
}

textarea {
  height: auto;
  resize: vertical;
}

ul {
  padding-left: 0;
  font-size: 0.8em;
  list-style: none;
}
