<ul>
  <% @files.each do |file| %>
    <li>
      <a href="/<%= file %>"><%= file %></a>
      <a href="/<%= file %>/edit">edit</a>
    </li>
  <% end %>
</ul>

<p><a href="/new">New Document</a></p>
