<!doctype html>
<html lang="en-US">
  <head>
    <title></title>
    <meta charset="UTF-8">
  </head>
  <body>
    <header>
      <h1></h1>
    </header>

    <main>
      <%== yield %>
    </main>
  </body>
</html>
