<!doctype html>
<html lang="en-US">
  <head>
    <title>CMS</title>
    <link rel="stylesheet" href="/cms.css">
    <meta charset="UTF-8">
  </head>
  <body>
    <% if session[:message] %>
      <p class="message"><%= session.delete(:message) %></p>
    <% end %>

    <main>
      <%== yield %>
    </main>
  </body>
</html>
