<form action="/lists" method="post">
  <dl>
    <dt>
      <label for="list_name">Enter the name for your new list:</label>
    </dt>
    <dd>
      <input name="list_name" placeholder="List Name" type="text" value="">
    </dd>
    <fieldset class="actions">
      <input type="submit" value="Save">
      <a href="/lists">Cancel</a>
    </fieldset>
  </dl>
</form>
